<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fkosoft.FontAwesome5" version="1.37.0" targetFramework="net452" />
  <package id="FontAwesome.Sharp" version="5.15.3" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net452" />
  <package id="Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net48" />
  <package id="Microsoft.ReportViewer.WinForms" version="10.0.40219.1" targetFramework="net48" />
</packages>